DISCORD_TOKEN=""

DATABASE_URL="file:local.db"
DATABASE_AUTH_TOKEN=""

REDIS_URL=""

INVITE_UPSELL=""

EMOJI_SPINNER=""
EMOJI_INCORRECT=""
EMOJI_INCORRECT_PENDING=""
EMOJI_CORRECT=""
EMOJI_CORRECT_PENDING=""
EMOJI_ONBOARDING=""
EMOJI_ONBOARDING_PENDING=""